
.base-btn {
    padding: 8px 32px;
    border: 1px solid $black;
    border-radius: 32px;
    width: 100%;
    &:hover {
        color: $black;
        background-color: lighten($color: $gray, $amount: 2);
    }
}

a {
    text-decoration: none;
    color: $black;
    &:hover {
        text-decoration: none;
        color: $black;
    }
}